[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
asyncpg = "*"
python-dotenv = "*"
alembic = "*"
greenlet = "*"

[dev-packages]

[requires]
python_version = "3.12"
