[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
asyncpg = "*"
python-dotenv = "*"
alembic = "*"
greenlet = "*"
fastapi = "*"
uvicorn = "*"
bcrypt = "*"
pwdlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
redis = "*"
fakeredis = "*"
slowapi = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.12"
